---
---

@import "bootstrap";

blockquote {
    border-left: 4px solid $dark;
    padding-left: 0.5em;
    font-size: 22px;
}

h1 {
    text-align: center; /* Center text in .block */
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
}