<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-lg-8 text-center border border-dark py-3 mx-1">
            {% include signup.html %}
        </div>
    </div>
    <div class="row justify-content-center my-3">
        <div class="col-lg-8 text-center my-3">
            <h5>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</h5>
            {% for page in site.data.pages %}
            <a class="text-dark mx-1 my-3"
                href="{{ '/' | absolute_url }}{{ page.url }}"><span>{{ page.title }}</span></a>
            {% endfor %}
            <a class="text-dark mx-1 my-3" href="mailto:{{ site.email }}"><span>Contact</span></a>
        </div>
    </div>
</div>