<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 px-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
                <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
                    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        {% for page in site.data.pages %}<a class="nav-item nav-link active"
                            href="{{ '/' | absolute_url }}{{ page.url }}">{{ page.title }}</a>{% endfor %}
                        <a class="nav-item nav-link active" href="mailto:{{ site.email }}">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>