<nav class="navbar navbar-light bg-white">
    <a class="navbar-brand" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
    <ul class="navbar-nav mr-auto d-inline">
        <li class="nav-item active d-inline">
            <a class="nav-link" href="{{ '/topics' | absolute_url }}">Topics</a>
        </li>
        <li class="nav-item active d-inline">
            <a class="nav-link" href="{{ '/about' | absolute_url }}">About</a>
        </li>
        <li class="nav-item active d-inline">
            <a class="nav-link" href="{{ '/newsletter' | absolute_url }}">Newsletter</a>
        </li>
    </ul>
</nav>