<link rel="stylesheet" href="https://emailoctopus.com/bundles/emailoctopuslist/css/formEmbed.css">
<div class="email-octopus-form-wrapper">
    <p class="email-octopus-success-message"></p>
    <p class="email-octopus-error-message"></p>
    <form method="post"
        action="https://emailoctopus.com/lists/58e12d6f-8fd1-11ea-a3d0-06b4694bee2a/members/embedded/1.3/add"
        class="email-octopus-form" data-sitekey="6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6">
        <div class="input-group my-3 mx-auto w-100">
            <input class="form-control" id="field_0" name="field_0" type="email" placeholder="Email address">
            <div class="email-octopus-form-row-hp" aria-hidden="true">
                <!-- Do not remove this field, otherwise you risk bot sign-ups -->
                <input type="text" name="hp58e12d6f-8fd1-11ea-a3d0-06b4694bee2a" tabindex="-1" autocomplete="nope">
            </div>
            {% if page.redirect %}
            <input type="hidden" name="successRedirectUrl" value="{{ '/' | absolute_url }}{{page.redirect}}">
            <button class="btn btn-primary" type="submit">Get Access</button>
            {% else %}
            <input type="hidden" name="successRedirectUrl" value="{{ '/thanks' | absolute_url }}">
            <button class="btn btn-primary" type="submit">Subscribe</button>
            {% endif %}
        </div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.4/formEmbed.js"></script>